<div class="landing_page">
  <div class="responsive-container-block big-container ">
    <img class="bg-img" id="iq5bf" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/clothes-bg.png" alt="img">
    <div class="responsive-container-block container">
      <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12 left-one">
        <div class="content-box">
          <p class="text-blk section-head">
            Sella Furinture Family
          </p>
          <p class="text-blk section-subhead">
"Connecting hearts and minds, we welcome your thoughts, questions, and dreams. Together, we can turn possibilities into realities. Reach out and let your voice be heard!"          </p>
          <div class="icons-container">
             
            <a class="share-icon" href="https://wa.me/201555424873" target="_blank">
              <img class="img" src="https://img.icons8.com/?size=512&id=13963&format=png" alt="Twiiter">
            </a>
            <a class="share-icon" href="https://wa.me/201555424873" target="_blank">
              <img class="img" src="https://img.icons8.com/?size=512&id=118497&format=png" alt="Facebook">
            </a>
            <a class="share-icon" href="https://wa.me/201555424873" target="_blank">
              <img class="img" src="https://img.icons8.com/?size=512&id=16713&format=png" alt="Whatssapp">
            </a>
            <a class="share-icon" href="https://wa.me/201555424873" target="_blank">
              <img class="img" src="https://img.icons8.com/?size=512&id=32323&format=png" alt="Instegram">
            </a>
          </div>
        </div>
      </div>
      <div class="responsive-cell-block wk-ipadp-6 wk-tab-6 wk-mobile-12 wk-desk-6 right-one " id="i1zj">
        <form class="form-box text-center" action="https://formspree.io/f/xpzgwbpg" method="POST">
          <div class="container-block form-wrapper text-center">
            <p class="text-blk contactus-head">
              Contact Us
            </p>
            <p class="text-blk contactus-subhead">
              We will get back to you in 24 hours
            </p>
            <div class="responsive-container-block">
              <div class="responsive-cell-block w-100" id="i10mt-7">
                <input class="input " id="ijowk-7" name="FirstName" placeholder="First Name">
              </div>
              <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-12 wk-ipadp-12 w-100" id="i1ro7">
                <input class="input" id="indfi-5" name="Last Name" placeholder="Last Name">
              </div>
              <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-6 wk-ipadp-6 emial w-100" id="ityct">
                <input class="input" type="email" id="ipmgh-7" name="Email" placeholder="Email">
              </div>
              <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12 w-100" >
                <input class="input" id="imgis-6" name="PhoneNumber" placeholder="Phone Number">
              </div>
              <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-12 wk-ipadp-12 w-100" id="i634i-7">
                <textarea name="message" aria-placeholder="Type message here" class="textinput" id="i5vyy-7" placeholder="Type message here"></textarea>
              </div>
            </div>
            <button type="submit" class="submit-btn"  >
              Send 
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>