.ProductImg{
    width: 120px; 
    height: 120px;
}

select{
    width: 100px;
}

@media (min-width: 992px) { 
    .custom-lg-position-fixed {
        position: fixed;
        right: 0;
        margin: 2em;
    }
}



