    <footer class="py-1 bg-black text-light m-0">
      <div class="row">
        <div class="col-6 col-md-4 p-3 col-sm-6">
          <h5>Contact Us</h5>
          <ul class="nav flex-column">
            <li class="nav-item "><a href="#" class="nav-link p-0 text-light text-decoration-underline">Sella@gmail.com</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light text-decoration-underline">+2(01011583454)</a></li>
            <li class="nav-item text-light p-o">O1 Mall, New Cairo</li>
            <li class="nav-item mb-2 text-light">Sun- Sat: 11 am - 12 am (GMT+2)</li>
            <li class="nav-item mb-2 text-light mt-1">VAT registration number: 540 - 407 - 968</li>
          </ul>
        </div>
  
        <div class="col-6 col-md-4 p-3 col-sm-6">
          <h5>Section</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Home</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Features</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Events</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">FAQs</a></li>
            <li class="nav-item mb-2"><a routerLink="/AboutUs" class="nav-link p-0 text-light">About Us</a></li>
          </ul>
        </div>
  
        <div class="col-lg-4 col-md-4 p-3 col-sm-12 justify-content-between">
          <h5>Order Tracking & Schedule Delivery</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2 text-light p-0">Find out when your order will be</li>
            <li class="nav-item mb-2 text-light p-0">delivered or schedule delivery</li>
              <li class="nav-item mb-2 text-light p-0">through your Account.</li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light text-decoration-underline">Sign In</a></li>
          </ul>
        </div>
      </div>
  
      <div class="row border-top p-2  mb-0">
        <div class="col-lg-6 col-sm-12">
          <p>© 2023 Sella, Inc. All rights reserved.</p>

        </div>
        <div class="col-lg-6 col-sm-12">
        <ul class="list-unstyled d-flex justify-content-center">
          <li class="ms-3"><a  href="#fa"><i class="fa-brands fa-facebook-f  fa-xl" style="color: #ffffff;"></i></a></li>
          <li class="ms-3"><a  href="#tw"><i class="fa-brands fa-twitter fa-xl" style="color: #ffffff;"></i></a></li>
          <li class="ms-3"><a  href="#tw"><i class="fa-solid fa-phone  fa-xl" style="color: #ffffff;"></i></a></li>
          <li class="ms-3"><a  href="#tw"><i class="fa-brands fa-whatsapp  fa-xl" style="color: #ffffff;"></i></a></li>
        </ul>
      </div>
      </div>
    </footer>
