    <footer class="py-1 bg-black text-light m-0">
      <div class="row">
        <div class="col-6 col-md-4 p-3 col-sm-6">
          <h5>Section</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Home</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Features</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Pricing</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">FAQs</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">About</a></li>
          </ul>
        </div>
  
        <div class="col-6 col-md-4 p-3 col-sm-6">
          <h5>Section</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Home</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Features</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Pricing</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">FAQs</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">About</a></li>
          </ul>
        </div>
  
        <div class="col-lg-4 col-md-4 p-3 col-sm-12 justify-content-between">
          <h5>Section</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Home</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Features</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Pricing</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">FAQs</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">About</a></li>
          </ul>
        </div>
  
         <!--  <div class="col-6 col-md-3 mb-3">
          <h5>Section</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Home</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Features</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Pricing</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">FAQs</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">About</a></li>
            </ul>
          </div> -->

          <!-- <div class="col-6 col-md-3 mb-3">
            <h5>Section</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Home</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Features</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Pricing</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">FAQs</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">About</a></li>
            </ul>
          </div> -->
        <!-- <div class="col-md-5 offset-md-1 mb-3">
          <form>
            <h5>Subscribe to our newsletter</h5>
            <p>Monthly digest of what's new and exciting from us.</p>
            <div class="d-flex flex-column flex-sm-row w-100 gap-2">
              <label for="newsletter1" class="visually-hidden">Email address</label>
              <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
              <button class="btn btn-primary" type="button">Subscribe</button>
            </div>
          </form>
        </div> -->
      </div>
  
      <div class="row border-top p-2  mb-0">
        <div class="col-lg-6 col-sm-12">
          <p>© 2023 Sella, Inc. All rights reserved.</p>

        </div>
        <div class="col-lg-6 col-sm-12">
        <ul class="list-unstyled d-flex justify-content-center">
          <li class="ms-3"><a  href="#fa"><i class="fa-brands fa-facebook-f  fa-2xl" style="color: #ffffff;"></i></a></li>
          <li class="ms-3"><a  href="#tw"><i class="fa-brands fa-twitter fa-2xl" style="color: #ffffff;"></i></a></li>
          <li class="ms-3"><a  href="#tw"><i class="fa-solid fa-phone  fa-2xl" style="color: #ffffff;"></i></a></li>
          <li class="ms-3"><a  href="#tw"><i class="fa-brands fa-whatsapp  fa-2xl" style="color: #ffffff;"></i></a></li>
        </ul>
      </div>
      </div>
    </footer>
