<nav class="navbar navbar-expand-lg navbar-light bg-dark m-0">
  <div class="container-fluid">
    <a class="navbar-brand h2 text-light" routerLink="/home">Sella</a>
    <button
      class="navbar-toggler text-light"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span><i class="fa-solid fa-bars"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item m-1">
          <a class="nav-link text-light Headers" href="#">Home</a>
        </li>
        <li class="nav-item m-1">
          <a class="nav-link text-light Headers" href="#">Categories</a>
        </li>
        <li class="nav-item m-1">
          <a class="nav-link text-light Headers" routerLink="/AboutUs">About Us</a>
        </li>
        <li class="nav-item m-1">
          <a class="nav-link text-light Headers" routerLink="/contactUs">Contact Us</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-lg-0">
        <li class="nav-item mt-1 p-1">
          <a class="nav-link position-relative cart d-inline" routerLink="/cart">
            <i class="fa fa-shopping-cart fa-xl m-sm-2 m-lg-0"></i>
            <span
              class="position-absolute top-0 start-0 translate-middle badge rounded-pill bg-danger">
              24
            </span>
          </a>
        </li>
        <!-- <li class="nav-item">
          <button class="btn btn-outline-light m-1">Login</button>
        </li>
        <li class="nav-item">
          <button class="btn btn-light m-1">Register</button>
        </li> -->
        <li class="nav-item p-1">
          <a href="#"><i class="fa-solid fa-xl fa-user user"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
