<div class="Chat z-3">
    <a id="forgot" data-bs-toggle="modal" data-bs-target="#exampleModal" class="font-weight-bold ForgotPass">
      <i class="fa-solid fa-2xl fa-comment-dots"></i>
    </a>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content w-100 p-0 m-0">
           <app-chat-with-us></app-chat-with-us>
        </div>
    </div>
  </div> 
  <!-- <div class="Chat z-3">
    <a id="forgot" data-bs-toggle="modal" data-bs-target="#exampleModal" class="font-weight-bold ForgotPass">
      <i class="fa-solid fa-2xl fa-comment-dots"></i>
    </a>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content w-100 p-0 m-0">
           <app-chat-with-us></app-chat-with-us>
        </div>
    </div>
</div> -->
<app-banner class="z-0"></app-banner>
<app-offers class="z-0"></app-offers>
<app-reviews class="z-0"></app-reviews>
<app-top-picks class="z-0"></app-top-picks>
<app-category class="z-0"></app-category>