<a id="forgot" data-bs-toggle="modal" data-bs-target="#exampleModal" class="font-weight-bold ForgotPass position-fixed z-5 bottom-5"><i class="fa-solid fa-comment-dots" style="color: #000000;"></i></a>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
           <app-chat-with-us></app-chat-with-us>
        </div>
    </div>
  </div>

<app-banner></app-banner>
<app-reviews></app-reviews>
<app-top-picks></app-top-picks>
<app-category></app-category>