<!-- <table class="table table-success table-hover w-100">
    <thead>
  <tr>
    <th>id</th>
    <th>Name</th>
    <th>price</th>
    <th>length</th>
    <th>color</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let P of Products">
    <td>{{P.productID}}</td>
    <td>{{P.productName}}</td>
    <td>{{P.price}}</td>
    <td>{{P.quantity}}</td>
    <td>{{P.color}}</td>
  </tr>
</tbody>
</table> -->


<div class="container">

  <div class="row">
    <div class="col-12 text-center mt-2">
      <label class="h3 text-black m-1">Search By</label>
      <input class="form-control w-25 d-inline rounded-2 m-1" type="text" placeholder="Search..." [(ngModel)]="listFilter">
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let product of filterProducts">
          <div class="card mb-3 box-shadow">
              <div class="image-container w-100">
                  <img *ngFor="let img of product.ImgPaths; let isFirst = first" 
                       class="product-image w-100 m-0 p-0 rounded-2" 
                       [class.is-first]="isFirst" 
                       [src]="img" 
                       [alt]="product.productName" 
                       [title]="product.productName">
                </div>
          <div class="card-body p-1">
              <p class="h5 card-text">{{product.productName}}</p>
              <h6 class="card-subtitle">Price:{{product.price | currency:'USD':'symbol'}}</h6>

          </div>
          <div class="card-footer text-lg-center text-md-center p-4">
              <a class=" m-2" (click)="addtocart(product,product.productID)">
                  <i class="fa fa-shopping-cart fa-2xl FooterLinks"></i>
              </a>
              <a class=" m-2" (click)="viewDetails(product.productID)">
                  <i class="fa-solid fa-circle-info fa-2xl FooterLinks"></i>
              </a>
          </div>
          </div>
      </div>
  </div>