<!-- <table class="table table-success table-hover w-100">
    <thead>
  <tr>
    <th>id</th>
    <th>Name</th>
    <th>price</th>
    <th>length</th>
    <th>color</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let P of Products">
    <td>{{P.productID}}</td>
    <td>{{P.productName}}</td>
    <td>{{P.price}}</td>
    <td>{{P.quantity}}</td>
    <td>{{P.color}}</td>
  </tr>
</tbody>
</table> -->
<div class="row">
  <div class="col-12 text-center mt-2">
    <label class="h3 text-black m-1">Search By</label>
    <input class="form-control w-25 d-inline rounded-2 m-1" type="text" placeholder="Search..." [(ngModel)]="listFilter">
  </div>
</div>

<div class="container mt-3">
  <div class="row">
    <div class="col-md-3 mb-2" *ngFor="let product of filterProducts">
      <div class="card h-100">
        <!-- <img class="card-img-top" src="{{product.imageUrl}}" alt="{{product.productName}}"> -->
        <img class="card-img-top" src="../../../assets/Images/category/bedRoom.jpg" alt="{{product.productName}}">
        <div class="card-body">
          <h5 class="card-title">{{product.productName}}</h5>
          <p class="card-text">{{product.description}}</p>
          <h6 class="card-subtitle text-muted">{{product.price | currency:'USD':'symbol'}}</h6>
        </div>
        <div class="card-footer text-center btn-group">
          <button class="btn btn-primary m-2" (click)="addtocart(product,product.productID)">Add to Cart</button>
          <button class="btn btn-secondary m-2" (click)="viewDetails(product.productID)">View Details</button>
        </div>
      </div>
    </div>
  </div>
</div>