<div class="container">
    <h1 class="h1 text-center text-black">Expolore Each Unique Collection</h1>
    <div class="row justify-content-center mb-5">
        <div class="col-lg-2 col-md-3 col-sm-4">
            <a routerLink="/category/6" class="text-decoration-none">
                <img class="w-100 rounded-2" src="../../../assets/Images/category/homeAccess.jpg" alt="Home Accessories">
                <h6 class="h6 text-black text-center">Home Accessorries</h6>
            </a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4">
            <a routerLink="/category/7" class="text-decoration-none">
                <img class="w-100 rounded-2" src="../../../assets/Images/category/bedRoom.jpg" alt="Home Accessories">
                <h6 class="h6 text-black text-center">Bed Rooms</h6>
            </a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4">
            <a routerLink="/category/3" class="text-decoration-none">
                <img class="w-100 rounded-2" src="../../../assets/Images/category/diningRoom.jpg" alt="Home Accessories">
                <h6 class="h6 text-black text-center">Dining Rooms</h6>
            </a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4">
            <a routerLink="/category/4" class="text-decoration-none">
                <img class="w-100 rounded-2" src="../../../assets/Images/category/livingRoom.jpg" alt="Home Accessories">
                <h6 class="h6 text-black text-center">Living Rooms</h6>
            </a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4">
            <a routerLink="/category/5" class="text-decoration-none">
                <img class="w-100 rounded-2" src="../../../assets/Images/category/outDoor.jpg" alt="Our Door">
                <h6 class="h6 text-black text-center">OutDoor</h6>
            </a>
        </div>
    </div>
</div>