<div class="section over-hide">
    <div class="container">
      <div class="row full-height justify-content-center">
        <div class="col-12 text-center align-self-center py-5">
          <div class="section text-center py-5 py-md-0">
            <input class="pricing" type="checkbox" id="pricing" name="pricing" />
            <label for="pricing" class=""><span class="block-diff">Coushes.. &nbsp; &nbsp; &nbsp; <span class="float-right m-3"> tables</span></span></label>
            <div class="card-3d-wrap mx-auto">
              <div class="card-3d-wrapper">
                <div class="card-front">
                  <div class="pricing-wrap">
                    <h4 class="mb-5 mt-5">Couches</h4>
                    <h2 class="mb-2">Get 10% Off</h2>
                    <p class="mb-4">Promo Code : Promo1</p>
                    <p class="mb-1"><i class="uil uil-location-pin-alt size-22"></i></p>
                    <p class="mb-4">In Our Coushes Collections</p>
                    <a routerLink="/products" class="link">Shop Now</a>
                    <div class="img-wrap img-2">
                      <img src="../../../assets/Images/offers/wall.png" alt="">
                    </div>
                    <div class="img-wrap img-1">
                      <img src="../../../assets/Images/offers/coush.png" alt="">
                    </div>
                    <div class="img-wrap img-6">
                      <img src="../../../assets/Images/offers/chair.png" sytle="width=100px" alt="">
                    </div>
                  </div>
                </div>
                <div class="card-back">
                  <div class="pricing-wrap">
                    <h4 class="mb-5 mt-5">Dining Tables</h4>
                    <h2 class="mb-2">Get 15% Off</h2>
                    <p class="mb-4">Promo Code : Promo2</p>
                    <p class="mb-1"><i class="uil uil-location-pin-alt size-22"></i></p>
                    <p class="mb-4">In Our Tables Collections</p>
                    <a routerLink="/products" class="link">Shop Now</a>
                    <div class="img-wrap img-2">
                      <img src="../../../assets/Images/offers/wall3.png" alt="">
                    </div>
                    <div class="img-wrap img-4">
                      <img src="../../../assets/Images/offers/table.png" alt="">
                    </div>
                    <!-- <div class="img-wrap img-5">
                      <img src="https://assets.codepen.io/1462889/Ivy.png" alt="">
                    </div> -->
                    <div class="img-wrap img-7">
                      <img src="../../../assets/Images/offers/smalltable.png" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>