<!--Old Page-->
<!-- <div class="container-fluid text-center mt-5">
    <img src="../../../assets/Images/Error/404-error-not-found.png" alt="Not Found">
    <h1 class="text-center text-warning">
        Page Not Found
    </h1>
    <h2 class="text-center text-danger">
        Error 404
    </h2>

</div> -->

<!--new page-->

<section class="wrapper">
 
    <div class="container">

        <div id="scene" class="scene" data-hover-only="false">


            <div class="circle" data-depth="1.2"></div>

            <div class="one" data-depth="0.9">
                <div class="content">
                    <span class="piece"></span>
                    <span class="piece"></span>
                    <span class="piece"></span>
                </div>
            </div>

            <div class="two" data-depth="0.60">
                <div class="content">
                    <span class="piece"></span>
                    <span class="piece"></span>
                    <span class="piece"></span>
                </div>
            </div>

            <div class="three" data-depth="0.40">
                <div class="content">
                    <span class="piece"></span>
                    <span class="piece"></span>
                    <span class="piece"></span>
                </div>
            </div>

            <p class="p404" data-depth="0.50">404</p>
            <p class="p404" data-depth="0.10">404</p>

        </div>

        <div class="text">
            <article>
                <p>You Got Lost! <br>Go Back To The Home PAge </p>
                <a routerLink="/home" class="">GO Home</a>
            </article>
        </div>

    </div>
</section>