<div class="container">
  <h1 class= "text-center mb-3">Hear What Our Customers Are Saying</h1>
 <ul class="cards">
 <li class="card">
<div>
  <div class="card-content">
    <img src="../../../assets/Images/banners/5.jpg" alt="Service 1 Image">
    <br>
        <p class="card-text">Exceptional Cleaning Power and Convenience! <br> Rating: ★★★★★</p>
  </div>
</div>
</li>

  <!-- <li class="card">
      <div class="card-content">
         <img src="../../../assets/Images/banners/1.jpg" alt="Service 1 Image">
         <br><br>


         
        <p class="card-text">Disappointing Performance, But Excellent Customer Service. <br> Rating: ★★☆☆☆</p>
      </div>
  </li> -->
  <li class="card">
      <div class="card-content">
        <br>
         <img src="../../../assets/Images/offers/table.png" alt="Service 1 Image">
         <br><br>
          <br>

        <p class="card-text">Impressive Versatility and Durability. <br>    Rating: ★★★★☆</p>
      </div>
  </li>
  <!-- <li class="card">
      <div class="card-content">
         <img src="../../../assets/Images/banners/5.jpg" alt="Service 1 Image" class="">
         <br><br>

        <p class="card-text">Impressive Versatility and Durability. <br>    Rating: ★★★★☆</p>
      </div>
  </li> -->
  <li class="card">
      <div class="card-content">
         <img src="../../../assets/Images/banners/2.jpg" alt="Service 1 Image">
         <br><br>


It's incredibly comfortable, and the cushions offer excellent support.<p class="card-text">  <br>    Rating: ★★★★☆</p>
      </div>
  </li>
  <!-- <li class="card">
      <div class="card-content">
         <img src="../../../assets/Images/banners/10.jfif" alt="Service 1 Image">
         <br><br>


        <p class="card-text">Impressive Versatility and Durability. <br>    Rating: ★★★★☆</p>
      </div>
  </li> -->
  <li class="card">
      <div class="card-content">
         <img src="../../../assets/Images/banners/11.jfif" alt="Service 1 Image">
         <br><br>

        <p class="card-text">The quality is surprisingly good, and the chairs are comfortable despite their slim design. <br>    Rating: ★★★★☆</p>
      </div>
  </li>
  <!-- <li class="card">
      <div class="card-content">
         <img src="../../../assets/Images/banners/12.jfif" alt="Service 1 Image">
         <br><br>
        <p class="card-text">Impressive Versatility and Durability. <br>    Rating: ★★★★☆</p>
      </div>
  </li> -->
  <li class="card">
      <div class="card-content">
         <img src="../../../assets/Images/banners/13.jfif" alt="Service 1 Image">
         <br><br>
        <p class="card-text">The glass top gives it a sleek and airy look, perfect for smaller spaces.  <br>    Rating: ★★★★☆</p>
      </div>
  </li>
  <li class="card">
      <div class="card-content">
         <img src="../../../assets/Images/banners/14.jfif" alt="Service 1 Image">
         <br><br>
        <p class="card-text">The reclining mechanism works smoothly,The fabric is soft and cozy and The size is just right for my living room. <br>    Rating: ★★★★☆</p>
    </div>
  </li>
  <!-- <li class="card">
      <div class="card-content">
         <img src="../../../assets/Images/banners/15.jfif" alt="Service 1 Image">
         <br><br>
        <p class="card-text">Impressive Versatility and Durability. <br>    Rating: ★★★★☆</p>
    </div>
  </li> -->
  <!-- <li class="card">
      <div class="card-content">
        <img src="../../../assets/Images/banners/16.jfif" alt="Service 1 Image">
         <br><br>
         <p class="card-text">Impressive Versatility and Durability. <br>    Rating: ★★★★☆</p>
      </div>
  </li> -->
</ul>
</div>







