<div class="container">
    <h1 class= "text-center mt-3 mb-3">Hear What Our Customers Are Saying</h1>
   <ul class="cards">
   <li class="card">
  <div>
    <div class="card-content">
           <br><br>
      <img src="../../../assets/Images/banners/5.jpg" alt="Service 1 Image">
      <br><br>
      <br><br>


          <p class="card-text">Exceptional Cleaning Power and Convenience! <br> Rating: ★★★★★</p>
    </div>
  </div>
  <div class="card-link-wrapper">
  </div>
</li>

    <li class="card">
      <div>
        <div class="card-content">
           <img src="../../../assets/Images/banners/1.jpg" alt="Service 1 Image">
           <br><br>
           <br><br>

           
          <p class="card-text">Disappointing Performance, But Excellent Customer Service. <br> Rating: ★★☆☆☆</p>
        </div>
      </div>
      <div class="card-link-wrapper">
      </div>
    </li>
    <li class="card">
      <div>
        <div class="card-content">
           <img src="../../../assets/Images/banners/6.jpg" alt="Service 1 Image">
           <br><br>
           <br><br>


          <p class="card-text">Impressive Versatility and Durability. <br>    Rating: ★★★★☆</p>
        </div>
      </div>
      <div class="card-link-wrapper">
      </div>
    </li>
    <li class="card">
      <div>
        <div class="card-content">
           <img src="../../../assets/Images/banners/5.jpg" alt="Service 1 Image" class="">
           <br><br>
           <br><br>


          <p class="card-text">Impressive Versatility and Durability. <br>    Rating: ★★★★☆</p>
        </div>
      </div>
      <div class="card-link-wrapper">
      </div>
    </li>
    <li class="card">
      <div>
        <div class="card-content">
           <img src="../../../assets/Images/banners/2.jpg" alt="Service 1 Image">
           <br><br>
           <br><br>


          <p class="card-text">Impressive Versatility and Durability. <br>    Rating: ★★★★☆</p>
        </div>
      </div>
      <div class="card-link-wrapper">
      </div>
    </li>
    <li class="card">
      <div>
        <div class="card-content">
           <img src="../../../assets/Images/banners/10.jfif" alt="Service 1 Image">
           <br><br>
           <br><br>


          <p class="card-text">Impressive Versatility and Durability. <br>    Rating: ★★★★☆</p>
        </div>
      </div>
      <div class="card-link-wrapper">
      </div>
    </li>
    <li class="card">
      <div>
        <div class="card-content">
           <img src="../../../assets/Images/banners/11.jfif" alt="Service 1 Image">
           <br><br>
           <br><br>


          <p class="card-text">Impressive Versatility and Durability. <br>    Rating: ★★★★☆</p>
        </div>
      </div>
      <div class="card-link-wrapper">
      </div>
    </li>
    <li class="card">
      <div>
        <div class="card-content">
           <img src="../../../assets/Images/banners/12.jfif" alt="Service 1 Image">
           <br><br>
           <br><br>


          <p class="card-text">Impressive Versatility and Durability. <br>    Rating: ★★★★☆</p>
        </div>
      </div>
      <div class="card-link-wrapper">
      </div>
    </li>
    <li class="card">
      <div>
        <div class="card-content">
           <img src="../../../assets/Images/banners/13.jfif" alt="Service 1 Image">
           <br><br>
           <br><br>


          <p class="card-text">Impressive Versatility and Durability. <br>    Rating: ★★★★☆</p>
        </div>
      </div>
      <div class="card-link-wrapper">
      </div>
    </li>
    <li class="card">
      <div>
        <div class="card-content">
           <img src="../../../assets/Images/banners/14.jfif" alt="Service 1 Image">
           <br><br>
           <br><br>


          <p class="card-text">Impressive Versatility and Durability. <br>    Rating: ★★★★☆</p>
        </div>
      </div>
      <div class="card-link-wrapper">
      </div>
    </li>
    <li class="card">
      <div>
        <div class="card-content">
           <img src="../../../assets/Images/banners/15.jfif" alt="Service 1 Image">
           <br><br>
           <br><br>


          <p class="card-text">Impressive Versatility and Durability. <br>    Rating: ★★★★☆</p>
        </div>
      </div>
      <div class="card-link-wrapper">
      </div>
    </li>
    <li class="card">
      <div>
        <div class="card-content">
                     <img src="../../../assets/Images/banners/16.jfif" alt="Service 1 Image">
           <br><br>
           <br><br>



          <p class="card-text">Impressive Versatility and Durability. <br>    Rating: ★★★★☆</p>
        </div>
      </div>
      <div class="card-link-wrapper">
      </div>
    </li>
  </ul>
</div>

 <!-- new test to update cards  -->




  
  
  

 