
<section class="container-fluid w-100 mt-2 mb-2 main">
  <div class="row">
    <h1 class="text-light text-center mt-3 mb-3">Hear What Our Customers Are Saying</h1>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <div class="card h-50">
        <img src="../../../assets/Images/banners/1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text" style="color: aliceblue;">Exceptional Cleaning Power and Convenience! <br> Rating: ★★★★★</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card h-50">
        <img src="../../../assets/Images/banners/2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text" style="color: aliceblue;">Disappointing Performance, But Excellent Customer Service. <br> Rating: ★★☆☆☆</p>
        </div>
      </div>
    </div>
  
    <div class="col-lg-3">
      <div class="card h-50">
        <img src="../../../assets/Images/banners/3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text" style="color: aliceblue;">Impressive Versatility and Durability. <br>    Rating: ★★★★☆</p>
        </div>
      </div>
    </div>
    
  <div class="col-lg-3">
    <div class="card h-50">
      <img src="../../../assets/Images/banners/5.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text" style="color: aliceblue;"> Great Value for Money.<br> Rating: ★★★★☆</p>
      </div>
    </div>
  </div>
  </div>
  <div class="text-center justify-content-center mb-3">
    <button class="btn btn-light mb-5"> Explore More</button> 
  </div>
</section>