<section class="scene">
    <h2 class="ms-5">Top Picks</h2>
    <h5 class="ms-5">Get Your Favorite Products Now!</h5>
    <div class="container mb-5 mt-3">
      <div class="row flex-nowrap overflow-auto">
        <div class="col w-25">
          <div class="card">
            <div class="image-container">
              <div class="hover-animation">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top image-back" alt="Fissure in Sandstone"/>
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/185.webp" class="card-img-top image-front" alt="Fissure in Sandstone"/>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">Product 1</h5>
              <p class="card-text">Product 1 Price</p>
            </div>
            <button class="custom-btn btn-12 mx-5 py-4"><span>buy</span><span>Check Out</span></button>
          </div>
        </div>
  
        <div class="col w-25">
          <div class="card">
            <div class="image-container">
              <div class="hover-animation">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top image-back" alt="Fissure in Sandstone"/>
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/185.webp" class="card-img-top image-front" alt="Fissure in Sandstone"/>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">Product 1</h5>
              <p class="card-text">Product 1 Price</p>
            </div>
            <button class="custom-btn btn-12 mx-5 py-4"><span>buy</span><span>Check Out</span></button>
          </div>
        </div>
  
        <div class="col w-25">
          <div class="card">
            <div class="image-container">
              <div class="hover-animation">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top image-back" alt="Fissure in Sandstone"/>
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/185.webp" class="card-img-top image-front" alt="Fissure in Sandstone"/>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">Product 1</h5>
              <p class="card-text">Product 1 Price</p>
            </div>
            <button class="custom-btn btn-12 mx-5 py-4"><span>buy</span><span>Check Out</span></button>
          </div>
        </div>
  
        <div class="col w-25">
          <div class="card">
            <div class="image-container">
              <div class="hover-animation">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top image-back" alt="Fissure in Sandstone"/>
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/185.webp" class="card-img-top image-front" alt="Fissure in Sandstone"/>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">Product 1</h5>
              <p class="card-text">Product 1 Price</p>
            </div>
            <button class="custom-btn btn-12 mx-5 py-4"><span>buy</span><span>Check Out</span></button>
          </div>
        </div>
      </div>
    </div>
  </section>
  
