/* .image-container {
    position: relative;
  }
  
  .hover-animation {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* For a 16:9 aspect ratio 
    overflow: hidden;
  }
  
  .hover-animation .image-front,
  .hover-animation .image-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 1s ease-in-out;
  }
  
  .hover-animation .image-back {
    opacity: 1;
  }
  
  .hover-animation .image-front {
    opacity: 0;
  }
  
  .hover-animation:hover .image-back {
    opacity: 0;
  }
  
  .hover-animation:hover .image-front {
    opacity: 1;
  } */

/*   
  .custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  }
  
  .btn-12{
  position: relative;
  right: 20px;
  bottom: 20px;
  border:none;
  box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
  }
  .btn-12 span {
  background: rgb(0,172,238);
  background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  border-radius: 5px;
  margin:0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
  }
  .btn-12 span:nth-child(1) {
  box-shadow:
  -7px -7px 20px 0px #fff9,
  -4px -4px 5px 0px #fff9,
  7px 7px 20px 0px #0002,
  4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
  }
  .btn-12 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
  }
  .btn-12:hover span:nth-child(1) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  }
  .btn-12:hover span:nth-child(2) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  }
   */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background: #3c6255;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card {
  position: relative;
  margin: .5em;
  width: 300px;
  height: 400px;
  background: #fff;
  transform-style: preserve-3d;
  transform: perspective(2000px);
  transition: 1s;
  box-shadow: inset 300px 0 50px rgba(0, 0, 0, 0.15),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

.card:hover {
  transform: perspective(2000px) translateX(50%);
  box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.15),
    0 10px 10px rgba(0, 0, 0, 0.15);
  z-index: 100;
}

.card .cover {
  position: relative;
  width: 100%;
  height: 100%;
  background: #61876e;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  overflow: hidden;
  transition: 1s ease-in-out;
  transform-origin: left;
}

.card:hover .cover {
  transform: rotateY(-180deg);
}

.card .cover img {
  max-width: 100%;
  z-index: 1;
}

.card .cover::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 150%;
  background: #fff;
  transform: rotate(36.5deg);
  box-shadow: 0 0 0 20px #a6bb8d;
  transition: 0.5s;
  transition-delay: 1s;
}

.card:hover .cover::before {
  width: 0;
  box-shadow: 0 0 0 250px #61876e;
  transform: rotate(143.5deg);
}

.card .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
  z-index: 1;
}

.card .details img {
  height: 240px;
}

.card .details h3 {
  font-weight: 500;
  margin: 5px 0;
  font-family: "Poppins", sans-serif;

}

.card .details h2 {
  font-size: 1.5em;
  color: #3c6255;
  font-weight: 600;
  font-family: "Poppins", sans-serif;

}

.card .details a {
  display: inline-block;
  padding: 8px 20px;
  background: #61876e;
  color: #fff;
  margin-top: 5px;
  letter-spacing: 1px;
  border-radius: 25px;
  font-weight: 500px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
