<section class="scene">
    <h2 class="ms-5 text-center">Top Picks</h2>
    <h5 class="ms-5 text-center">Get Your Favorite Products Now!</h5>
    <div class="container mb-5 mt-3">
      <div class="row justify-content-center mb-3">
        <div class="col-md-7 col-sm-12">
          <div class="card rounded-4">
            <div class="image-container">
              <div class="hover-animation rounded-top-4">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top image-back" alt="Fissure in Sandstone"/>
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/185.webp" class="card-img-top image-front" alt="Fissure in Sandstone"/>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">Product 1</h5>
              <p class="card-text">Product 1 Price</p>
            </div>
            <button class="btn btn-dark w-50 mx-auto mb-3">View Details</button>
          </div>
        </div>
      </div>
      <div class="row flex-nowrap overflow-auto">
        <div class="col-md-3">
          <div class="card">
            <div class="image-container">
              <div class="hover-animation">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top image-back" alt="Fissure in Sandstone"/>
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/185.webp" class="card-img-top image-front" alt="Fissure in Sandstone"/>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">Product 1</h5>
              <p class="card-text">Product 1 Price</p>
            </div>
            <button class="btn btn-dark w-50 mx-auto mb-3">View Details</button>
          </div>
        </div>
  
        <div class="col-md-3">
          <div class="card">
            <div class="image-container">
              <div class="hover-animation">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top image-back" alt="Fissure in Sandstone"/>
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/185.webp" class="card-img-top image-front" alt="Fissure in Sandstone"/>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">Product 1</h5>
              <p class="card-text">Product 1 Price</p>
            </div>
            <button class="btn btn-dark w-50 mx-auto mb-3">View Details</button>
          </div>
        </div>
  
        <div class="col-md-3">
          <div class="card">
            <div class="image-container">
              <div class="hover-animation">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top image-back" alt="Fissure in Sandstone"/>
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/185.webp" class="card-img-top image-front" alt="Fissure in Sandstone"/>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">Product 1</h5>
              <p class="card-text">Product 1 Price</p>
            </div>
            <button class="btn btn-dark w-50 mx-auto mb-3">View Details</button>
          </div>
        </div>
  
        <div class="col-md-3">
          <div class="card">
            <div class="image-container">
              <div class="hover-animation">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top image-back" alt="Fissure in Sandstone"/>
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/185.webp" class="card-img-top image-front" alt="Fissure in Sandstone"/>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">Product 1</h5>
              <p class="card-text">Product 1 Price</p>
            </div>
            <button class="btn btn-dark w-50 mx-auto mb-3">View Details</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  
