<!-- <section class="scene">
    <h2 class="ms-5 text-center">Top Picks</h2>
    <h5 class="ms-5 text-center">Get Your Favorite Products Now!</h5>
    <div class="container mb-5 mt-3">
      <div class="row justify-content-center mb-3">
        <div class="col-md-7 col-sm-12">
          <div class="card rounded-4">
            <div class="image-container">
              <div class="hover-animation rounded-top-4">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top image-back" alt="Fissure in Sandstone"/>
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/185.webp" class="card-img-top image-front" alt="Fissure in Sandstone"/>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">Product 1</h5>
              <p class="card-text">Product 1 Price</p>
            </div>
            <button class="btn btn-dark w-50 mx-auto mb-3">View Details</button>
          </div>
        </div>
      </div>
      <div class="row flex-nowrap overflow-auto">
        <div class="col-md-3">
          <div class="card">
            <div class="image-container">
              <div class="hover-animation">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top image-back" alt="Fissure in Sandstone"/>
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/185.webp" class="card-img-top image-front" alt="Fissure in Sandstone"/>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">Product 1</h5>
              <p class="card-text">Product 1 Price</p>
            </div>
            <button class="btn btn-dark w-50 mx-auto mb-3">View Details</button>
          </div>
        </div>
  
        <div class="col-md-3">
          <div class="card">
            <div class="image-container">
              <div class="hover-animation">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top image-back" alt="Fissure in Sandstone"/>
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/185.webp" class="card-img-top image-front" alt="Fissure in Sandstone"/>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">Product 1</h5>
              <p class="card-text">Product 1 Price</p>
            </div>
            <button class="btn btn-dark w-50 mx-auto mb-3">View Details</button>
          </div>
        </div>
  
        <div class="col-md-3">
          <div class="card">
            <div class="image-container">
              <div class="hover-animation">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top image-back" alt="Fissure in Sandstone"/>
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/185.webp" class="card-img-top image-front" alt="Fissure in Sandstone"/>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">Product 1</h5>
              <p class="card-text">Product 1 Price</p>
            </div>
            <button class="btn btn-dark w-50 mx-auto mb-3">View Details</button>
          </div>
        </div>
  
        <div class="col-md-3">
          <div class="card">
            <div class="image-container">
              <div class="hover-animation">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top image-back" alt="Fissure in Sandstone"/>
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/185.webp" class="card-img-top image-front" alt="Fissure in Sandstone"/>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">Product 1</h5>
              <p class="card-text">Product 1 Price</p>
            </div>
            <button class="btn btn-dark w-50 mx-auto mb-3">View Details</button>
          </div>
        </div>
      </div>
    </div>
  </section> -->
<p class="h1 text-center text-black">Top Picks</p>
<p class="h3 text-center text-black">Get Your Favorite Products Now!</p>

<div class="container-fluid">
  <div class="body row">
    <div class="card col-4">
      <div class="cover">
        <img src="../../../assets/Images/topPicks/1.png" alt="BetaFPV Cetos" border="0" />
      </div>
      <div class="details">
        <div>
          <img src="../../../assets/Images/topPicks/11.jpg" alt="BetaFPV Cetos" border="0" />
          <h3>New Cetos FPV Kit</h3>
          <h2>1200 <small class="h5">EGP</small></h2>
          <a routerLink="/products">Buy Now</a>
        </div>
      </div>
    </div>

    <div class="card col-4">
      <div class="cover">
        <img src="../../../assets/Images/topPicks/2.png" alt="BetaFPV Cetos" border="0" />
      </div>
      <div class="details">
        <div>
          <img src="../../../assets/Images/topPicks/22.jpg" alt="BetaFPV Cetos" class="m-1" border="0" />
          <h3>New Cetos FPV Kit</h3>
          <h2>1200 <small class="h5">EGP</small></h2>
          <a routerLink="/products">Buy Now</a>
        </div>
      </div>
    </div>

    <div class="card col-4">
      <div class="cover">
        <img src="../../../assets/Images/topPicks/3.png" alt="BetaFPV Cetos" border="0" />
      </div>
      <div class="details">
        <div>
          <img src="../../../assets/Images/topPicks/33.png" alt="BetaFPV Cetos" class="m-1" border="0" />
          <h3>New Cetos FPV Kit</h3>
          <h2>1200 <small class="h5">EGP</small></h2>
          <a routerLink="/products">Buy Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
