<div class="container">
  <div class="row mb-3 justify-content-center">
    <div class="col-md-4 col-sm-12">
      <div class="card rounded-2">
        <div class="d-flex justify-content-center">
          <div class="mt-0 p-0">
            <img
              src="../../../../assets/Images/Logo/sellaLogo.jpg"
              class="card-img-top w-100"
              
              alt=""
            />
          </div>
        </div>
        <div class="card-header">
          <div class="card-body">
            <form class="form justify-content-center" [formGroup]="loginForm">
              <div class="form-group">
                <label for="Email">Emial</label>
                <input
                  id="Email"
                  name="Email"
                  type="Email"
                  class="form-control rounded-2"
                  placeholder="zeyadmohsen1999@gmail.com"
                  formControlName="Email"
                  [class.error]="loginForm.controls['Email'].dirty && loginForm.hasError('required','Email')"
                />
              </div>
              <small *ngIf="loginForm.controls['Email'].dirty && loginForm.hasError('required','Email')"   class="text-danger">*Email is Required!</small>
              <div class="form-group">
                <label for="Password">Password</label>
                <input
                  id="Password"
                  type="Password"
                  name="Password"
                  class="form-control rounded-2"
                  placeholder="Password"
                  formControlName="Password"
                  [class.error]="loginForm.controls['Password'].dirty && loginForm.hasError('required','Password')"
                />
              </div>
              <small *ngIf="loginForm.controls['Password'].dirty && loginForm.hasError('required','Password')"  class="text-danger">*Password is Required!</small>
              <div class="form mt-2">
                <div class="form-inline fr"> 
                  <a id="forgot" data-bs-toggle="modal" data-bs-target="#exampleModal" class="font-weight-bold ForgotPass">Forgot password?</a>
                 </div>
              </div>
              <button (click)="login()" type="submit" class="btn btn-dark w-100 mt-4">
                Login
              </button>
            </form>
            <ul class="list-unstyled mb-3">
              <li>
                If you don't have acount 
                <a routerLink ="/register" class="link-dark">
                  Register Now
                </a>
              </li>
            </ul>
          </div>
          <!--External login-->
          <!-- <div class="border-top">
            <div class="text-center">
              or connect with
            </div>
            <div class="text-center py-1">
                <a href="https://www.google.com" target="_blank" class="px-2"> <img src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-suite-everything-you-need-know-about-google-newest-0.png" class="img-fluid" style="width: 20%;" alt=""> </a>
            </div>
        </div> -->

        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <p class="modal-title" id="exampleModalLabel"> <span style="font-size: 25px;font-weight:700">Forget your password?</span><br>
                  <small>Please provide your E-mail we will send the reset link</small></p>

              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

          </div>

          <div class="modal-body">
              <div class="form-group pt-3">
                  <div class="input-field"> <span class="fa fa-user p-2"></span> <input class="form-control" [(ngModel)]="ResetPasswordEmail" (ngModelChange)="CheckValidEmail($event)" type="text" placeholder="Email"> </div>
              </div>
              <small *ngIf="!ResetPasswordEmail" class="text-danger d-block">*Email is required*</small>
              <small *ngIf="!IsValidEmail && ResetPasswordEmail"  class="text-danger d-block">*Email is Invalid*</small>
          </div>
          <div class="modal-footer">
              <button type="button" id="CloseBtn" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" (click)="ConfirmToSend()" class="btn btn-primary">Send</button>
          </div>
      </div>
  </div>
</div>
