<div class="container">
    <main>
        <div class="py-5 text-center">
            <h2>Checkout form</h2>
        </div>
        <div class="row g-5">
            <div class="col-md-5 col-lg-4 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary">Your cart</span>
                    <span class="badge bg-primary rounded-pill">{{
                        ProductQuantity
                        }}</span>
                </h4>
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-sm" *ngFor="let product of products">
                        <div>
                            <h6 class="my-0">{{ product?.productName }}</h6>
                            <small class="text-muted">{{ product?.description }}</small>
                        </div>
                        <span class="text-muted">{{ product?.price }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between bg-light" *ngIf="showPromoCode">
                        <div class="text-success">
                            <h6 class="my-0">Promo code</h6>
                        </div>
                        <span class="text-success">−$5</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total (EGP)</span>
                        <strong>${{ TotalPrice }}</strong>
                    </li>
                </ul>

                <form class="card p-2" (submit)="applyPromoCode(promoCodeInput.value)">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Promo code" #promoCodeInput />
                        <button type="submit" class="btn btn-dark" [disabled]="isPromoApplied">
                            Apply
                        </button>
                    </div>
                </form>

                <h4 class="mb-3 text-center">Payment</h4>
                <input type="button" class="btn btn-dark w-100 mb-3 btn-lg rounded-1" (click)="CashOnDelivery()" value="Cash On Delivery">
                <ngx-paypal [config]="payPalConfig"></ngx-paypal>
            </div>

            <div class="col-md-7 col-lg-8" *ngIf="UserDetial">
                <h4 class="mb-3 h4 text-primary">Contact Details</h4>
                <form class="needs-validation" novalidate>
                    <div class="row g-3">
                        <div class="col-12">
                            <label for="email" class="form-label">Email <span class="text-muted"></span></label>
                            <input type="email" [ngModel]="CMail"  (change)="onMailChange($event)" class="form-control" id="email" placeholder="you@example.com"
                                value="{{ UserDetial.email }}" />
                            <div class="invalid-feedback">
                                Please enter a valid email address for shipping updates.
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="firstName" class="form-label">First name</label>
                            <input type="text" [ngModel]="Fname"  (change)="onFnameChange($event)" class="form-control" id="firstName" placeholder="First Name"
                                value="{{ UserDetial.firstName }}" required />
                            <div class="invalid-feedback">Valid first name is required.</div>
                        </div>

                        <div class="col-sm-6">
                            <label for="lastName" class="form-label">Last name</label>
                            <input type="text" [ngModel]="Lname"  (change)="onLnameChange($event)" class="form-control" id="lastName" placeholder="Last Name"
                                value="{{ UserDetial.lastName }}" required />
                            <div class="invalid-feedback">Valid last name is required.</div>
                        </div>

                        <div class="col-12">
                            <label for="Country/Region" class="form-label">Country/Region</label>
                            <select class="form-select" id="Country/Region" required [(ngModel)]="selectedCountry">
                                <option value="">Country</option>
                                <option>Egypt</option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label for="Governate" class="form-label">Governorate</label>
                            <select class="form-select" id="Governate" required (change)="onGovernorateChange($event)" [(ngModel)]="selectedGovernorate">
                                <option value="Alexandria">Alexandria</option>
                                <option value="Aswan">Aswan</option>
                                <option value="Asyut">Asyut</option>
                                <option value="Beheira">Beheira</option>
                                <option value="Beni Suef">Beni Suef</option>
                                <option value="Cairo">Cairo</option>
                                <option value="Dakahlia">Dakahlia</option>
                                <option value="Damietta">Damietta</option>
                                <option value="Faiyum">Faiyum</option>
                                <option value="Gharbia">Gharbia</option>
                                <option value="Giza">Giza</option>
                                <option value="Ismailia">Ismailia</option>
                                <option value="Kafr El Sheikh">Kafr El Sheikh</option>
                                <option value="Luxor">Luxor</option>
                                <option value="Matrouh">Matrouh</option>
                                <option value="Minya">Minya</option>
                                <option value="Monufia">Monufia</option>
                                <option value="New Valley">New Valley</option>
                                <option value="North Sinai">North Sinai</option>
                                <option value="Port Said">Port Said</option>
                                <option value="Qalyubia">Qalyubia</option>
                                <option value="Qena">Qena</option>
                                <option value="Red Sea">Red Sea</option>
                                <option value="Sharqia">Sharqia</option>
                                <option value="Sohag">Sohag</option>
                                <option value="South Sinai">South Sinai</option>
                                <option value="Suez">Suez</option>
                            </select>
                            <div class="invalid-feedback">Please select a valid country.</div>
                        </div>
                        <div class="col-md-4">
                            <label for="City" class="form-label">City <span class="text-muted"></span></label>
                            <select class="form-select" id="City" placeholder="City" [(ngModel)]="selectedCity" (change)="onCityChange($event)" [disabled]="!selectedGovernorate">
                                <option *ngFor="let city of getCitiesByGovernorate(selectedGovernorate)" [value]="city">
                                    {{ city }}
                                </option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label for="state" class="form-label">Apartment No.</label>
                            <input type="text" class="form-control" id="state" placeholder="Apartment No." [(ngModel)]="selectedApartment" (change)="onApartmentChange($event)"/>
                            <div class="invalid-feedback">Please provide a valid state.</div>
                        </div>

                        <div class="col-12">
                            <label for="address" class="form-label">Address</label>
                            <input type="text" class="form-control" id="address" placeholder="Egypt-Minya-Minia-shahin" [value]="'Egypt'+ ' - ' +selectedGovernorate+ ' - ' +selectedCity+ ' - '+selectedApartment" disabled >
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="Phone" class="form-label">Phone <span class="text-muted"></span></label>
                        <input type="text" [ngModel]="CPhone"  (change)="onPhoneChange($event)" class="form-control" id="Phone" placeholder="Phone" pattern="^\d{11}$" title="Please enter exactly 11 digits." /> <div class="invalid-feedback" >
                            Please enter a valid phone number for shipping updates.
                        </div>
                    </div>
                    <button class="btn btn-dark btn-lg w-100 mt-3" type="submit" (click)="ok()">
                        Save Your Contact Details
                    </button>
                </form>

            </div>
        </div>
    </main>
</div>